{% extends "layout.html" %}

{% block title %}add{% endblock %}

{% block content %}
  <h1>Add</h1>

  <form action="/write" method="POST">
    <table>
      <tr>
	<th>Title</th>
	<td><input name="title" id="title" width="30"></input></td>
      </tr>
      <tr>
	<th>Content</th>
	<td>
	  <textarea name="content" id="content" cols="50" rows="4"></textarea>
	</td>
      </tr>
    </table>
    <input type="submit" value="Add Note">
    <input type="button" onclick="window.href='/'" value="Cancel">
  </form>

{% endblock %}
