{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>Home</h1>
  <ul>
    <li><a href="/page1">That thing we do</a></li>
    <li><a href="/page2">The other thing</a></li>
  </ul>

<p>This is a sample application to demonstrate authenticating against github oauth,
using Flask, on Heroku.</p>

<p>The source code is available on github at <a href="https://github.com/ucsd-cse-spis-2016/spis16-webapps-oauth-example">https://github.com/ucsd-cse-spis-2016/spis16-webapps-oauth-example</a></p>

<p>This is provided for participants in <a href="https://ucsd-cse-spis-2016.github.io">UCSD CSE SPIS 2016.</p>


{% endblock %}
